{% extends '_layouts/front.html.twig' %}
{% block content %}
<div class="align">
    <i class="icon-desktop-circled"></i>
</div>
<h1 id="folio-headline">Blog Post</h1>
<div class="row">
<!-- bikin looping buat post post yang ada -->
{% for posts in list_posts %}

<div class="span3">
    <div class="inside">
        <hgroup>
            <h2>{{ posts.title}}</h2>
        </hgroup>
        <div class="entry-content">
            <p>{{ posts.note}}</p>
            <a class="more-link" href="{{ base_url() }}blog/detail/{{ posts.id_post}}">Read More</a>
        </div>
    </div>
</div> 
{% endfor %}          
</div>        
{% endblock %}
        