{% extends _layout %}
{% block portfolio %}

<!-- ini bikin looping buat portfolio brs1-->
{% for posts in list_posts %} <!-- for untuk baris1 -->
<div class="span4">
  <div class="mask2"> <a href="{{ base_url() }}base/img/portfolio-01.jpg" rel="prettyPhoto"><img src="{{ base_url() }}base/img/portfolio-01.jpg" alt=""></a> </div>
  <div class="inside">
    <hgroup>
      <h2>{{ posts.title}}</h2>
    </hgroup>
    <div class="entry-content">
      <p>{{ posts.note}}</p>
      <a class="more-link" href="#">view project</a> </div>
  </div>
  <!-- /.inside -->
</div>
<!-- /.span4 -->
{% endfor %} <!-- endfor untuk baris1 -->

{% endblock %}

{% block contact %}
    <div class="span12">
          <div class="cform" id="theme-form">
            <!-- <form class="cform-form" id="contactUs"> -->
              <div class="row">
                <div class="span6"> <span class="your-name">
                  <input type="text" id="name" name="name" placeholder="Your Name" class="cform-text" size="40" title="your name">
                  </span> </div>
                <div class="span6"> <span class="your-email">
                  <input type="text" name="email" id="email" placeholder="Your Email" class="cform-text" size="40" title="your email">
                  </span> </div>
              </div>
              <div class="row">
                <div class="span6"> <span class="company">
                  <input type="text" name="company" id="company" placeholder="Your Company" class="cform-text" size="40" title="company">
                  </span> </div>
                <div class="span6"> <span class="website">
                  <input type="text" name="website" id="website" placeholder="Your Website" class="cform-text" size="40" title="website">
                  </span> </div>
              </div>
              <div class="row">
                <div class="span12"> <span class="message">
                  <textarea name="content" id="content" class="cform-textarea" cols="40" rows="10" title="drop us a line."></textarea>
                  </span> </div>
              </div>
              
                <input type="submit" id="simpan" value="Send message" class="cform-submit pull-left">
                <!-- <button class="btn btn-primary" id="simpan">Send Message</button> -->
              
              <div class="cform-response-output"></div>
            <!-- </form> -->
          </div>
          </div>
{% endblock %}

