{% extends '_layouts/base.html.twig' %}
{% block content %}
<div class="row-fluid">
            <div class="row-fluid">
                        <div class="login-box">
                                    <div class="icons">
                                                <a href="{{ base_url() }}">Back to Home <i class="icon-home"></i></a>                            
                                    </div>
                                    <h2>Login to your account</h2>
                                    <form class="form-horizontal" action="{{base_url() }}admin/post/ceklogin" method="post">
                                    <fieldset>
                                    
                                    <div class="input-prepend" title="Username">
                                                <span class="add-on"><i class="icon-user"></i></span>
                                                <input class="input-large span10" name="username" id="username" type="text" placeholder="type username"/>
                                    </div>
                                    <div class="clearfix"></div>
                                    
                                    <div class="input-prepend" title="Password">
                                                <span class="add-on"><i class="icon-lock"></i></span>
                                                <input class="input-large span10" name="password" id="password" type="password" placeholder="type password"/>
                                    </div>
                                    <div class="clearfix"></div>
                                    
                                                <label class="remember" for="remember"><input type="checkbox" id="remember" />Remember me</label>
                                    
                                    <div class="button-login">	
                                                <button type="submit" class="btn btn-primary"><i class="icon-off icon-white"></i> Login</button>
                                    </div>
                                    <div class="clearfix"></div>
                                    </form>
                                    <hr>
                                    {% if stat == 'error'%}
                                                <div class="box-content alerts">
                                                <div class="alert alert-error">
                                                            <button type="button" class="close" data-dismiss="alert">×</button>
                                                            <strong>Login Gagal</strong><br/>Pastikan Username atau Password anda benar
                                                </div>
                                                </div>
                                    {% endif %}
                        <!--<hr>
                        <h3>Forgot Password?</h3>
                        <p>
                        No problem, <a href="#">click here</a> to get a new password.
                        </p>-->	
                        </div><!--/span-->
            </div><!--/row-->

</div><!--/fluid-row-->
{% endblock %}