{% extends '_layouts/front.html.twig' %}
{% block content %}
<div class="align">
    <i class="icon-desktop-circled"></i>
</div>
<h1 id="folio-headline">Portfolio</h1>
<!-- bikin looping buat post post yang ada -->
<div class="row">
{% for posts in list_posts %}
<div class="span3">
    <div class="mask2"> <a href="{{ base_url() }}base/img/portfolio-01.jpg" rel="prettyPhoto"><img src="{{ base_url() }}base/img/portfolio-01.jpg" alt=""></a> </div>
    <div class="inside">
        <hgroup>
            <h2>{{ posts.title}}</h2>
        </hgroup>
        <div class="entry-content">
            <p>{{ posts.note}}</p>
            <a class="more-link" href="#">Read More</a>
        </div>
    </div>
</div>
{% endfor %} 
</div>          
        
{% endblock %}
        